/* --- typographie --- */

body {
  background: #858589;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

body,
h1, h2, h3, h4, h5, h6,
.top-bar-section ul li > a {
        font-family: "Gotham SSm A", "Gotham SSm B";
        color: #414042;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  letter-spacing: 0px;
}

h1 {
-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  margin-top: 1.5em;
}

h2 {
-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        font-size: 34px;
        font-weight: 200;
        margin-top: 1.8em;
        text-transform: none;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 2.1em;
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

a {
  color: #008CC8;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0px;
}

small,
.small {
  font-size: 12px;
  line-height: 1.4;
}

.alert-box.warning a {
  font-weight: bold;
  color: #555555;
}

@media screen and (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
  }
}

/* --- container --- */

.full {
  position: relative;
  background: #f1f2f2;
}

.bg-white-top-left {
  position: relative;
}

.bg-white-top-left:before {
  content: '';
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
}

.full.home {
  background: white;
  border-top-left-radius: 0px;
  padding-top: 0px;
}

.bg-white {
  background: white;
}

.rounded-corners {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  perspective: 1px;
}

.negative-margin {
  margin: 0 -15px;
}

@media screen and (max-width: 1160px) {
	.negative-margin {
	  margin: 0 0;
	}
}

.row.column {
	float: none;
}

/* --- header --- */

/*
.header {
  padding-bottom: 30px;
  margin-bottom: -30px;
}
*/

.header:before, .header:after {
  content: " ";
  display: table;
}

.header:after {
  clear: both;
}
.top-bar .name h1 {
  width: 355px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
	.top-bar .name h1 {
		width: 250px;
	}
}

.top-bar .name h1 a {
  padding: 0 0 0 0;
}

.top-bar .name h1 img {
  display: inline;
  width: 100%;
}

.top-bar-section ul li > a {
  font-weight: bold;
  color: #008CC8;
}

.top-bar-section ul li.active > a {
  position: relative;
  z-index: 9;
}


.top-bar-section ul li.active > a:after {
  content: '';
  background: #008CC8;
  position: absolute;
  display: block;
  height: 4px !important;
  left: 20px;
  top: 0px;
  width: calc(100% - 40px) !important;
  z-index: 10;
  margin-top: 0px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  color: #008CC8;
}

.top-bar-section .has-dropdown > a::after {
  border: none;
}

.top-bar-section .has-dropdown > a {
  padding-right: 20px !important;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  background: white;
  color: #008CC8;
  border-bottom: 1px solid #f1f2f2;
}

.top-bar-section .dropdown li:not(.has-form):last-child a:not(.button) {
  border-bottom: none;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
  background: #f1f2f2;
  color: #008CC8;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  height: 50px;
  line-height: 50px;
}

:target:before {
  content: "";
  display: block;
  height: 140px;
  margin: -140px 0 0;
}

/* --- slide show --- */

@media screen and (max-width: 932px) {
/*
  .orbit-container {
    display: none;
  }
*/

	.orbit-container p {
		font-size: 13px !important;
	}

	.orbit-caption h2 {
	  font-size: 18px !important;
	}

	.orbit-container .orbit-slides-container li .orbit-caption {
		top: 20px;
	}
}

@media screen and (max-width: 720px) {

	.orbit-caption {
		display: none;
	}
}

@media screen and (max-width: 480px) {

	.orbit-container {
		display: none;
	}
}

.orbit-container {
  background: white;
}

.orbit-caption .row {
  background: rgba(40,40,40,.8);
  padding: 40px 50px;
}

.orbit-container,
.orbit-caption h2 {
  text-align: left;
  background: transparent;
  font-size: 32px;
  letter-spacing: 0px;
}

.orbit-caption h2 {
  padding: 0px;
  text-transform: none;
}

.orbit-caption p:last-child {
  margin-bottom: 0px;
}

.orbit-slides-container .caption {
  position: relative;
  margin-right: 20px;
}


/* --- intro --- */

.intro {
  width: 75%;
  margin: 0 auto;
  font-style: italic;
}

.intro p {
  font-size: 14px;
  line-height: 1.4;
}


/* --- box --- */

.box {
  background: white;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 40px 50px;
  margin: 60px -50px;
}

.box h1:first-child, .box h2:first-child, .box h3:first-child, .box h4:first-child, .box h5:first-child, .box h6:first-child {
  margin-top: 0px;
}

.full.home .box {
  background: #f1f2f2;
}

@media only screen and (max-width: 60em) {
  .box {
    margin: 20px -50px;
  }
  .full {
    padding: 10px;
  }
  .rounded-corners {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}


/* --- footer --- */

.footer {
  background: transparent;
  color: white;
}

.footer a {
  color: white;
  font-weight: 600;
}

.footer a:hover {
  color: #fbb207;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  float: left;
  margin-left: 20px;
}


/* --- statements --- */

.statements-category-teaser {
  padding: 1em 3em 2em 3em;
}

.statements-category-teaser h3 {
  color: #318ac7;
  margin-bottom: 25px;
  white-space: nowrap;
}

.statements-category-teaser p {
  margin-top: 30px;
  text-align: center;
  font-size: 80%;
  font-style: italic;
  color: #888;
}

.statement-iconcolumn {
  background-color: #318ac7;
  padding: 25px;
}

.statement-box {
  padding: 30px;
  margin-bottom: 10px;
  background: white;
}

.statement-box h3 {
  text-align: left;
}

.statement-iconcolumn > img {
  height: 50px;
}

.statement-box a {
  word-wrap: break-word;
}

/* --- buttons and other assets --- */

.statement-buttons {
  background-color: #f1f2f2;
  padding: 10px 0px;
  margin: 20px;
}

.statement-buttons h4 {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  color: #858589;
}

.statement-buttons img {
  height: 50px;
}

.statement-button {
  padding: 10px 20px ;
}

.statement-icon {
  background-color: #f1f2f2;
  padding: 20px;
  margin: 20px;
}

.statement-icon h4 {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  color: #858589;
}

/* --- faq --- */

.faq {
  padding-left: 100px;
  padding-right: 100px;
}

.faq h2 {
  text-align: left;
  margin-top: 50px;
}

.faq ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.faq li {
  padding-bottom: 20px;
}

.faq li p {
  padding-left: 25px;
}

.faq li:before, .faq li p:first-of-type {
  content: "Q:";
  color: #008CC8;
  font-weight: bold;
  display: inline;
  padding: 0px;
  cursor: pointer;
  cursor: hand;
}
