---
---
<!DOCTYPE html>
  <html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url={{ site.baseurl }}/{{ site.default_language }}/">
    <script language="javascript">
      var user_language = (navigator.language || navigator.userLanguage).split('-')[0];
      var enabled_languages = [];
      {% for default in site.defaults %}
        {% if default.values.lang == default.scope.path %}
          enabled_languages.push("{{ default.values.lang }}");
        {% endif %}
      {% endfor %}
      var default_language = "{{ site.default_language }}";
      if (enabled_languages.indexOf(user_language) != -1) {
        window.location.href = "{{ site.baseurl }}/" + user_language + "/";
      } else {
        window.location.href = "{{ site.baseurl }}/" + default_language + "/";
      }
    </script>
    <title>Page Redirection</title>
  </head>
  <body>
    If you are not redirected automatically, please click the link to continue to
    <a href="{{ site.baseurl }}/{{ site.default_language }}/">{{ site.baseurl }}/{{ site.default_language }}/</a>.
  </body>
</html>
