<div markdown="0">
{% raw %}
  {{#resource "{% endraw %}{{ include.collection_id }}{% raw %}" data.[@graph]}}
    {{#property member data.[@graph] sort="prefLabel asc"}}
      <div class="statement-box">
        <div class="row">
          <div class="large-4 columns">
            <div class="statement-iconcolumn">
              <img src="{% endraw %}{{ site.url }}{{ site.baseurl }}{% raw %}/files/icons/{{ identifier }}.white.svg" title="{{ prefLabel.[@value] }}" />
            </div>
          </div>
          <div class="large-8 columns">
            <h3>{{ prefLabel.[@value] }}</h3>
            <p>{{ scopeNote.[@value] }}</p>
            <p>URI: {{a [@id] }}</p>
          </div>
        </div>
      </div>
    {{/property}}
  {{/resource}}
{% endraw %}
</div>
