<div class='contain-to-grid sticky header'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{ site.baseurl }}/{{page.lang}}/'>
            <img src='{{ site.baseurl }}/files/images/logo.svg' alt="Rights Statements">
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}
          {% if item.i18n.localize == true and site.default_language != page.lang %}
            {% capture label %}{{ item.i18n.keys.[page.lang] }}{% endcapture %}
          {% else %}
            {% capture label %}{{ item.name }}{% endcapture %}
          {% endif %}
          {% if item.path contains "//" %}
            {% capture href %}{{ item.path }}{% endcapture %}
          {% else %}
            {% capture href %}{{ site.baseurl }}/{{ page.lang }}{{ item.path }}{% endcapture %}
          {% endif %}
          {% if item.children and site.default_language == page.lang %}
              <li class="has-dropdown {{active_class}}"><a href="{{ href }}">{{ label }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  {% capture child_path %}{{ child.path | replace: 'rights_app_server', site.rights_app_server | replace: 'rights_data_version', site.rights_data_version }}{% endcapture %}
                  {% if child_path contains "//" %}
                    {% capture child_href %}{{ child_path }}{% endcapture %}
                  {% else %}
                    {% capture child_href %}{{ site.baseurl }}/{{ page.lang }}{{ child_path }}{% endcapture %}
                  {% endif %}
                  <li>
                    <a href="{{ child_href }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% elsif (item.i18n.localize and page.lang != site.default_language) %}
            <li class="{{active_class}}">
              <a href="{{ href }}">{{ label }}</a>
            </li>
          {% elsif page.lang == site.default_language and item.section_id != "more_info" %}
            <li class="{{active_class}}">
              <a href="{{ href }}">{{ label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
