<div class="bg-white">
  <ul data-orbit=''>
    {% assign i18n = site.data.i18n[page.lang] %}
    {% for slide in site.data.slides %}
      <li>
        <div class="rounded-corners">
          <img src="{{ site.baseurl }}/files/images/{{slide.image}}" />
        </div>
        <div class='orbit-caption caption-{{ slide.desc_location }}'>
          <div class='row rounded-corners'>
            <h2>{{ i18n[slide.image].header }}</h2>
            <p>{{ i18n[slide.image].about | replace: 'rights_data_version', site.rights_data_version }}</p>
          </div>
        </div>
        <div class="caption"><div class="row text-right" lang="en">{{ slide.title }}</div></div>
      </li>
    {% endfor %}
  </ul>
</div>
