<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

      {% if page.alias %}
      <link rel="canonical" href="{{ site.canonical_url }}{{ page.alias }}{{ site.rights_data_version }}/">
      {% else %}
      <link rel="canonical" href="{{ site.canonical_url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
      {% endif %}
      <link href='{{ site.url }}{{ site.baseurl }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.url }}{{ site.baseurl }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.url }}{{ site.baseurl }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.url }}{{ site.baseurl }}/css/fontello.css' rel='stylesheet'>
      <link href='{{ site.url }}{{ site.baseurl }}/css/rs.css' rel='stylesheet'>

      <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7018914/6677352/css/fonts.css" />

      <script src='{{ site.url }}{{ site.baseurl }}/js/modernizr.js'></script>

    </head>
    <body>
      <div class='contain-to-grid sticky header'>
        <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
          <ul class='title-area'>
            <li class='name'>
              <h1>
                <a href='{{ site.url }}{{ site.baseurl }}/{{page.lang}}/'>
	                <img src='{{ site.url }}{{ site.baseurl }}/files/images/logo.svg' alt="Rights Statements">
                </a>
              </h1>
            </li>
            <li class='toggle-topbar menu-icon'>
              <a href='#'>Menu</a>
            </li>
          </ul>
          <section class='top-bar-section'>
            <ul class="right">
              {% for item in site.data.nav %}
                {% if item.section_id == page.section_id %}
                  {% assign active_class = "active" %}
                {% else %}
                  {% assign active_class = "" %}
                {% endif %}

                {% capture item_path %}{{ item.path | replace: 'rights_app_server', site.rights_app_server | replace: 'rights_data_version', site.rights_data_version }}{% endcapture %}

                {% if item_path contains "//" %}
                  {% capture href %}{{ item_path }}{% endcapture %}
                {% else %}
                  {% capture href %}{{ site.url }}{{ site.baseurl }}/{{ page.lang }}{{ item_path }}{% endcapture %}
                {% endif %}

                {% if item.children %}
                  <li class="has-dropdown {{active_class}}">
                    <a href="{{ href }}">{{ item.name }}</a>
                    <ul class='dropdown'>
                      {% for child in item.children %}
                        {% capture child_path %}{{ child.path | replace: 'rights_app_server', site.rights_app_server | replace: 'rights_data_version', site.rights_data_version }}{% endcapture %}
                        {% if child_path contains "//" %}
                          {% capture child_href %}{{ child_path }}{% endcapture %}
                        {% else %}
                          {% capture child_href %}{{ site.url }}{{ site.baseurl }}/{{ page.lang }}{{ child_path }}{% endcapture %}
                        {% endif %}
                        <li>
                          <a href="{{ child_href }}">{{ child.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="{{active_class}}">
                    <a href="{{ href }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </section>
        </nav>
      </div>

      {{ content }}


      <div class='footer'>

	      <div class="row">
		      <div class="negative-margin">
						<div class="large-8 columns">
							<p>
								RightsStatements.org is a project of <a href="http://dp.la">DPLA</a> and <a href="http://www.europeana.eu">Europeana</a>
							</p>
							<p class="small">
								Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.
							</p>
						</div>
						<div class="large-4 columns">
							<ul class="right footer-nav">
<!--
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
-->
								<li><a href="/en/get_involved.html">Contact</a></li>
							</ul>
						</div>
		      </div>
	      </div>

      </div>


      <script src='{{ site.url }}{{ site.baseurl }}/js/jquery.min.js'></script>
      <script src='{{ site.url }}{{ site.baseurl }}/js/foundation.min.js'></script>
      <script src='{{ site.url }}{{ site.baseurl }}/js/jquery.countTo.js'></script>
      <script src='{{ site.url }}{{ site.baseurl }}/js/jquery.appear.js'></script>
      <script src='{{ site.url }}{{ site.baseurl }}/js/app.js'></script>
    </body>
</html>
