<!DOCTYPE html>
<html class='no-js' lang='en'>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      {% feed_meta %}
      <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      {% if page.alias %}
      <link rel="canonical" href="{{ site.canonical_url }}{{ page.alias }}{{ site.rights_data_version }}/">
      {% else %}
      <link rel="canonical" href="{{ site.canonical_url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
      {% endif %}
      <link href='{{ site.baseurl }}/css/framework.css' rel='stylesheet'>
      <link href='{{ site.baseurl }}/css/syntax.css' rel='stylesheet'>
      <link href='{{ site.baseurl }}/css/style.css' rel='stylesheet'>
      <link href='{{ site.baseurl }}/css/fontello.css' rel='stylesheet'>
      <link href='{{ site.baseurl }}/css/rights-site.css' rel='stylesheet'>

      <link rel="stylesheet" type="text/css" href="{{ site.font_css_url }}" />

      <script src='{{ site.baseurl }}/js/modernizr.js'></script>
      {% include cookies.html %}
      {% if site.google_analytics %}{% include analytics.html %}{% endif %}
    </head>
    <body>
      {% include nav.html %}
      {{ content }}


      <div class='footer'>

	      <div class="row">
		      <div class="negative-margin">
						<div class="small-8 columns">
							<p>
								RightsStatements.org is an international member based consortium, supported by public funding.
							</p>
							<p class="small">
								Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.
							</p>
						</div>
						<div class="small-4 columns">
							<ul class="right footer-nav">
<!--
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
-->
								<li><a href="/en/get_involved.html">Contact</a></li>
							</ul>
						</div>
		      </div>
	      </div>

      </div>


      <script src='{{ site.baseurl }}/js/jquery.min.js'></script>
      <script src='{{ site.baseurl }}/js/foundation.min.js'></script>
      <script src='{{ site.baseurl }}/js/jquery.countTo.js'></script>
      <script src='{{ site.baseurl }}/js/jquery.appear.js'></script>
      <script src='{{ site.baseurl }}/js/app.js'></script>
    </body>
</html>
